@model List<UsersAsp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Lista utenti</h2>

<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td>@u.LastName</td>
                <td>@u.FirstName</td>
                <td>@u.City</td>
            </tr>
        }
    </tbody>
</table>

